/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variables";
body {
    font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 6px;
}
input, button, select, textarea {
    font-family: $font-family;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline,.controls.error input, .help-inline,.control-group .help-inline   {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea,.controls.error input,
.controls.error .radio,
.controls.error .cehckbox,
.controls.error select,
.controls.error textarea, .error input, input.error,.error select,select.error {
  color: #b94a48;
  border-color: #b94a48;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav a:hover {
    background-color: $dark_green;
}
.navbar .nav > li > a {
    color: #ccc;
}
.navbar .nav > li > a {
    padding: 10px 10px 11px;
}
#mainmenu {
    background: url($bgimage) repeat-x scroll left top white;
}
.navbar-inner {
    background: $menuBottombg;
}
#footer {
    border-top: 1px solid $grey;
    font-size: 13px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}
#content {
    padding: 0px 0px;
    min-height: 380px;
}
#page {
    border: none;
}
#logo {
    padding: 18px 20px;
    font-size: 24px;
}
.breadCrumb {
    .breadcrumb {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        margin: 0 0 10px;
        padding: 0;
    }
    .divider {
        font-size: 12px;
        font-weight: bold;
        color: #333;
    }
}
span.required {
    color: red;
}
.form {
    padding: 10px 0px 0px 0px;
}
.form-horizontal .rememberMe label {
    display: inline;
    float: none;
}
.container .span8 {
    margin-left: 0px;
}
.form-horizontal .rememberMe input {
	margin-top: 0px;
}
.form-horizontal .control-label {
    text-align: left;
}
.language {
    float: right;
    padding-top: 12px;
    select {
        width: 135px;
    }
    form {
        margin: 0px;
        padding: 0px;
    }
}
.container.grid {
    padding: 15px 0px 0px 0px;
}
.container .well {
    padding: 9px;
}