/* Welcome to Compass.
 * In this file you should write your variables used in main styles.
 */
$bgimage: green-bg.gif;
$green: #A2E5AA;
$dark_green: #4EB857;
$menuTopbg: #666666;
$menuBottombg: #333333;
$grey: #ccc;
$font-family: arial;