/* 
    Document   : ie
    Created on : 28 Nov, 2013, 2:56:31 PM
    Author     : payoda
    Description:
        Purpose of the stylesheet follows.
*/

 .headerLeft .logoImg {
    width: auto;
}
.brand img {
    width: auto;
}
